body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.barraBusqueda{
  width: 300px!important ;

  }
  
  .botonCarrito{
  width: max-content !important;
  }

  .contenedor{
    /* background-color: blue; */
  }

  .contenedor2{
    background-color:rgba(233, 150, 122, 0.452);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center; /* ajusta */
    
  }

  .flexColumn{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    flex-wrap: wrap!important;
    align-content: center!important;
    

  }

  .contenedorCarrito{
    /* margin:.5rem 1rem !important;
    width: 40rem !important;
    height: 10rem !important;
    display: grid !important;
    grid-template-columns: repeat(4, 10fr) !important;
    grid-gap: 10px !important;
    align-content: center !important; */

    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;

    width: 55rem !important;
    height: 10rem !important;


    background-color: lightblue !important;
    margin: .5rem 0rem !important;

    

  }

  .cardBodyCarrito{
    grid-row: 1;
    grid-column: 2/4;
    margin: auto auto;

  }